<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <span>Bookers</span>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to " Home",user_path(@user.id), class: "glyphicon glyphicon-home home" %>
            </li>
            <li>
              <%= link_to " Users",users_path, class: "glyphicon glyphicon-user users" %>
            </li>
            <li>
              <a class="glyphicon glyphicon-book books" href="/books"> Books</a>
            </li>
            <li>
              <a class="glyphicon glyphicon-log-out sign_out" data-method="delete" href="/users/sign_out"> logout</a>
            </li>
          <% else %>
            <li>
              <%= link_to " Home",root_path, class: "glyphicon glyphicon-home home" %>
            </li>
            <li>
              <%= link_to " Home",root_path, class: "glyphicon glyphicon-link about" %>
              <a class="glyphicon glyphicon-link about" href="/home/about"> About</a>
            </li>
            <li>
              <a class="glyphicon glyphicon-edit sign_up" href="/users/sign_up"> sign up</a>
            </li>
            <li>
              <a class="glyphicon glyphicon-log-in sign_in" href="/users/sign_in"> login</a>
            </li>
              <li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
